.container {
  margin-top: 1.875rem;
}

.add-veiculo {
  margin-bottom: 1.875rem;
}

.list-veiculo {
  margin-bottom: 3.125rem;
}

.btn-add-veiculo {
  margin-right: 0.625rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.u-btn {
  margin-top: -3.5rem;
}
